{% extends 'themes/base_admin.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}Accueil{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Espace {{app.user.prenom}} {{app.user.nom}} </h1>
{% endblock %}