{% extends "themes/base_agent.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block description %}Bienvenue chez DBS! Faites votre transfert d'agent en toute securité{% endblock %}

{% block main %}
    <main>
    <h1>Accueil</h1>
    </main>
{% endblock %}