{% extends "themes/base_agent.html.twig" %}

{% block title %}Transfert{% endblock %}

{% block description %}Liste des transferts{% endblock %}

{% block main %}
    <main>
    <h1 class="text-center my-3 display-5">Liste des transferts</h1>
    </main>
{% endblock %}