* 
{
    font-family: 'Poppins', sans-serif;
}

.navbar-brand
{
    font-family: 'Pacifico', cursive;
}

html, body
{
    height: 100%;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;

}



.visitor-header
{
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}







