{% extends "themes/base_user.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block description %}Accueil{% endblock %}

{% block main %}
    <main>
        <h1 class="text-center">Espace agent</h1>
    </main>
{% endblock %}