{% extends "themes/base_agent.html.twig" %}

{% block title %}Contact{% endblock %}

{% block description %}Contacter-nous{% endblock %}

{% block main %}
    <main>
    <h1 class="text-center my-3 display-5">Contacter-nous</h1>
    </main>
{% endblock %}